@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

* {

padding: 0;
margin: 0;
font-size: 20px;
text-decoration: none;
color: black;
text-align: center;
font-family: "Castoro", sans-serif;

}

/*-----Navigation----*/


#navbarNav ul li a {

font-size: 25px;

}

#navbarNav ul {

text-align: right!important;

}

.nav-container {

background-color: rgb(81, 167, 124);
text-align: right;

}

.navbar-nav {


}

.navbar-brand {




}

/*-----Carousel----*/

/*Stack Overflow citation---*/

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel-caption h1{

font-weight: 600;

}


/*-----Section 1 About Us----*/

.cont-about {




    
}




/*-----Section 2 Workshop----*/

.cont-workshop {

}

/*-----Section 3 Our Ethos----*/

.cont-ethos {





}