@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

/*---Global Settings---*/

* {

padding: 0;
margin: 0;
font-size: 15px;
text-decoration: none;
color: #0c0a06;
text-align: center;
font-family: "Castoro", sans-serif;

}

/*-----Navigation----*/

.logo-img {

height: 20%;
width: 20%;
float: left;
margin: auto;
}


#navbarNav ul li a {

font-size: 3rem;
}

#navbarNav ul {

text-align: right;
}

.nav-container {

background-color:  #3C5738;
text-align: right;

}

.navbar-toggler {

float: left;
margin-right: 5%;
margin-left: 70%;
position: absolute;
}

.navbar-toggler-icon {
float: left;
height: 2rem;
width: 2rem;
}


/*-----Carousel----*/

/*Stack Overflow citation---*/

.carousel .carousel-item {
  height: 30rem;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 30rem;
}

.carousel-caption h1{

font-size: 2.5rem;    
font-weight: 600;

}

/*-----Section 1 About Us----*/


.bg-color-own {

background-color: #D4C473;
}


/*-----Stack overflow code- card same size ref---*/
.card-img {
width: 60rem;
height: 40rem;
object-fit: cover;
padding-left: 15rem;
}


/*-----img cards----*/

.card-img-center 

{
width: 20rem;
height: 18rem;
object-fit: cover;
text-align: center;
padding-top: 1rem;
padding-bottom: 1.5rem;
padding-left: 1.5rem;
padding-right: 0;
}


.cont-about

{
background-color: #D4C473;
font-size: 20rem;
}

.card {
background-color: #D4C473;
border: 2rem;
padding: 0;
padding-left: 1.25rem;
text-align: center;
height: 125%;
width: 40rem;
}

.card-title {

font-size: 1.75rem;
text-decoration: underline;
}


.card-text {

font-size: 1rem;
text-align: center;
}


/*----Footer---*/




footer {
  background-color: #3C5738;
  color: #FFFBDB;
  min-height: 12rem;
  margin: 0;
  padding-top: 1rem;
  position: absolute;
}

.tm-text {

text-align: center;
font-size: 1rem;
padding-left: none;

}

.social-links {
  padding-bottom: .75rem;
}

.social-links li a i {
  width: 3rem;
  height: 3rem;
  padding: .5rem 0;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  color: #fafafa;
  background: #AD9BAA;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #54577C;
}

/*----Global overrides---*/


#body {
height:100vh;
}

#main{
  border:solid;
  height:100vh;
}

#footer{
  border:solid;
}

#container {
padding:0;
margin:0;
}