/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

/*---Global Settings---*/

* {

padding: 0;
margin: 0;
font-size: 15px;
text-decoration: none;
color: #0c0a06;
text-align: center;
font-family: "Castoro", sans-serif;
display: block;

}

/*-----Navigation----*/

.logo-img {

height: 20%;
width: 20%;
float: left;
margin: auto;
}


#navbarNav ul li a {

font-size: 1.25rem;
}

#navbarNav ul {

text-align: right;
}

.nav-container {

background-color:  #3C5738;
text-align: right;

}

.navbar-toggler {

float: left;
margin-right: 5%;
margin-left: 70%;
position: absolute;
}

.navbar-toggler-icon {
float: left;
height: 2rem;
width: 2rem;
}


/*-----Carousel----*/

/*Stack Overflow citation---*/

.container-size {

margin: 0;
border: 0;



}

.carousel .carousel-item {
  height: 30rem;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 30rem;
}

.carousel-caption h1{

font-size: 2.5rem;    
font-weight: 600;

}

/*-----Section 1 About Us----*/


.bg-color-own {

font-size: 5rem;    

}


/*-----Stack overflow code- card same size ref---*/
.card-img {
width: 25rem;
max-width: 100%;
max-height: 100%;
}


/*-----Img cards----*/

.card-img-center 
{
width: 25rem;
object-fit: cover;
text-align: center;
padding-top: 0rem;
padding-bottom: 0rem;
padding-left: 0rem;
padding-right: 0;
}


.cont-style

{

font-size: 5rem;

}

.card {


border: 2rem;
padding: 0;
padding-left: 1.25rem;
text-align: center;
height: 125%;

}

.card-title {

font-size: 1.75rem;
text-decoration: underline;
}


.card-text {

font-size: 1rem;
text-align: center;
}

.card-body {

margin: 0 auto;
border: 0;
padding: 0;



}

.row-brk {

padding: 0;
margin: 0;



}

/*----Footer---*/




footer {
  background-color: #3C5738;
  color: #FFFBDB;
  min-height: 10rem;
  margin: 0;
  padding-top: 1rem;
  position: absolute;
  padding-bottom: 0;
  left: 0;
  right: 0;
}

.tm-div {

padding-top: 3rem;
}

.tm-text {

text-align: center;
font-size: 1rem;
padding-left: 0;

}

.social-links {
  padding-bottom: .75rem;
}

.social-links li a i {
  width: 3rem;
  height: 3rem;
  padding: .5rem 0;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  color: #fafafa;
  background: #AD9BAA;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #54577C;
}

/*----Global overrides---*/


#body {
height:100vh;
}

#main{
  border:solid;
  height:100vh;
}

#footer{
  border:solid;
  width: 100vh;
}


/*----Facilities---*/



#Classes-bod h1 {

font-weight: 900;
font-size: 2rem;
padding-bottom: 1.5rem;
}

.title {

    text-align: center;
    padding: 25px 0;
}

.title p {

font-size: 18px;
}



.card {
    margin: 20px 10px;
}

.card-body {

text-decoration: none;
font-size: 15px;
margin-top: auto;
font-weight: 600;
box-shadow: 0 0 25px 7px rgba(0, 0, 0, 0.1);

}

/*-----Store Page styles-----*/




.store-card {

--bs-gutter-x: 0;
}

nav {
  background-color: white;
}
.navbar-brand img {
  max-height: 50px;
}
.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #683aa4;
}
nav ul li a {
  color: #a9a9a9;
  font-size: 22px;
  margin: auto 10px;
}

/* Store page */

.contact-style {

font-weight: 600;
text-decoration: none;

}